<!-- <link
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
/> -->
<!-- <link rel="stylesheet" href="../style.css" />
<link rel="icon" type="image/png" href="../favicon.ico" /> -->
<div class="jumbotron text-center">
  <h2><%= event["title"] %></h2>

  <div>
    <%let options = { weekday: 'long', year: 'numeric', month: 'long', day:
    'numeric', hour: "numeric", minute: 'numeric' }%>
    <p id="date"><%= event.startDate.toLocaleDateString('us-en', options)%></p>
    -
    <p id="date"><%= event.endDate.toLocaleDateString('us-en', options)%></p>
    --
  </div>
  <p id="description"><%= event.description %></p>
  <a href="/events/<%= event.id %>/edit" class="btn btn-sm btn-primary">Edit</a>
</div>
hi
